{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}

    <div class="dist_name text-center text-info my-3"><h1>{{destination.name}}</h1></div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="my-3 col-4 text-left">
                <h4 class="text-info">Description :</h4>
                <h5 class ="description text-capitalize"> {{destination.description}} </h5>
                <br>
                <h4 class="text-info">Optimal Visiting Season :</h4>
                <h5 class ="text-capitalize"> {{destination.optimal_visiting_season}} </h5>
            </div>
            <div class="my-3 col-8"><img class="w-75 rounded mx-auto d-block" src="{{destination.pretty_picture.url}}"></div>
        </div>
    <div class="btn-group my-3" role="group" aria-label="Button group with nested dropdown">
        <a href="{% url 'destination-update' destination.id %}"><button type="button" class="btn btn-secondary">Update</button></a>
        <a href="{% url 'destination-delete' destination.id %}"><button type="button" class="btn btn-secondary">Delete</button></a>
    </div>
{% endblock content %}